<p id="notice"><%= notice %></p>
<h1>Task Entries</h1>

<%#= link_to 'New Time Entries', new_time_entries_path %>

<table>
  <thead>
    <tr>
      <th>Time Entries</th>
      <th colspan="3"></th>
     </tr>
 </thead>

<tbody>
  <% @task_entries.each do |task_entry| %>
    <div>
      <%= task_entry.task_id %>
    </div>
    <% end %>
</tbody>





<!--need to get routes configured -->
<%#= link_to "Start", start_time_task_path %> <%#= link_to "Stop", stop_time_task_path %>
<%#= button_to "Start", start_time_task_path, method: :get %>
