<h1>Listing all tasks</h1>

<div>
    <% @tasks.each do |task| %> <!--|task| gives access to each one of the task table -->
    <div>
    <%= task.project_id%>
    <%#= user_id%> <!-- ? -->
    </div>
  <% end %>
</div>
